Comment from Tarek on 2021-01-10

https://github.com/tsaad-dev/te/blob/f38a619c206083f1f8749b1abc50e746b7a03ff8/drafts/te-topo-profile/draft-busi-teas-te-topology-profiles.txt#L25

Regarding "used": can we replace this with customized?


I am afraid “customized” may be confused with “Customized TE Topologies” defined in section 4.2 of RFC8795

The draft is consistently using the terminology for which a profile of the TE topology model can be used for a specific scenario

@tsaad-dev : are you ok or prefer a different wording?


**2021-09-10 TE call**

Ok to keep the term "used" for the profile
