Abstract Text

I think these two comments are somehow related:

> Abstract is almost devoid of meaning.  A YANG model, yes but so what? What is the point of the model, what problem does it solve?
>

See: https://mailarchive.ietf.org/arch/msg/teas/F70NXhVah2kI3AoN4WNoqTyjaS0/

offli

> Latest suggestion from Tom:
> 
> " This document describes a YANG data model for the <management¦monitoring¦construction¦...> of the topology of Traffic Engineered Multiprotocol Label Switching (MPLS) networks."
> 
> See: https://mailarchive.ietf.org/arch/msg/teas/Pe4-qTXv5wYqjGJjZdNEw8bdEeM/

I am a bit afraid that the list would become restrictive: for example, what about MPLS-TE topology discovery?

Search for other examples:

- Network Topology (RFC8345)

>    This document defines an abstract (generic, or base) YANG data model
>    for network/service topologies and inventories.  The data model
>    serves as a base model that is augmented with technology-specific
>    details in other, more specific topology and inventory data models.

- TE Topology (RFC8795)

>    This document defines a YANG data model for representing, retrieving,
>    and manipulating Traffic Engineering (TE) Topologies.  The model
>    serves as a base model that other technology-specific TE topology
>    models can augment.

- L3 Topology (RFC8346)

>    This document defines a YANG data model for Layer 3 network
>    topologies.
 
- L3 TE and Packet TE Topology (draft-ietf-teas-yang-l3-te-topo-14)

>    This document defines a YANG data model for layer 3 traffic
>    engineering topologies.

WSON Topology (RFC9094)

>    This document provides a YANG data model for the routing and
>    wavelength assignment (RWA) TE topology in Wavelength Switched
>    Optical Networks (WSONs).  The YANG data model defined in this
>    document conforms to the Network Management Datastore Architecture
>    (NMDA).

Flexi-grid Topology (draft-ietf-ccamp-flexigrid-yang-15)

>    This document defines a YANG module for managing flexi-grid optical
>    networks.  The model defined in this document specifies a flexi-grid
>    traffic engineering database that is used to describe the topology of
>    a flexi-grid network.  It is based on and augments existing YANG
>    models that describe network and traffic engineering topologies.
> 
>    The YANG data model defined in this document conforms to the Network
>    Management Datastore Architecture (NMDA).

OTN Topology (draft-ietf-ccamp-otn-topo-yang-17)

>    This document describes a YANG data model to describe the topologies
>    of an Optical Transport Network (OTN).  It is independent of control
>    plane protocols and captures topological and resource-related
>    information pertaining to OTN.  This model enables clients, which
>    interact with a transport domain controller, for OTN topology-related
>    operations such as obtaining the relevant topology resource
>    information.

Ethernet Topology (draft-ietf-ccamp-eth-client-te-topo-yang-05)

>    This document describes a YANG data model for Ethernet networks when
>    used either as a client-layer network of an underlay transport
>    network (e.g., an Optical Transport Network (OTN)) or as a transport
>    network itself.

Note: the applicability of this Ethernet topology YANG model is intentionally restricted to these two use cases described in the abstract while the applicability of the other topology YANG models is intended not to be restricted to specific use cases


I have got also some offline comments

1) we do not need to necessarily expand MPLS and MPLS-TE acronyms:

    https://www.[rfc-editor.org/materials/abbrev.expansion.txt](https://www.rfc-editor.org/materials/abbrev.expansion.txt)

2) the current text seems implying that MPLS-TE is different than MPLS

    Proposed resolution: "This document describes a YANG data model for the part of the MPLS technology that manage MPLS-TE network topologies"

It seems better to expand a bit the abstract to describe a bit the "intersection of TE, MPLS and topology" as per last comment from Tom



**2023-10-13 TE Call**

Follow the approach of RFC8795:

> This document defines a YANG data model for representing, retrieving,
> and manipulating MPLS-TE network topologies.


While re-writing the abstract and introduction, I think we should be more complete in describing what is defined by this document

See proposed changes to the abstract and introduction in PR #247 