Missing switching-types for WSON and flexi-grid

There are no standardized YANG identities that could be used to represent the WSON-LSC, defined in RFC 7688, and flexi-grid LSC, defined in RFC 8363

See: https://mailarchive.ietf.org/arch/msg/teas/ktLf4T06Z4SRAvIMa8nR5fOtjRQ/

---

- [x] Pending resolution of whether these identities should be defined in TE Types or L0 Types
   See https://github.com/ietf-ccamp-wg/ietf-ccamp-layer0-types-ext-RFC9093-bis/issues/105
- [x] Clean-up the current definitions to give some guidance on where these technology-specific identities should be defined
   See https://github.com/tsaad-dev/te/issues/295#issuecomment-2479854679


It is worthwhile adding guidance on where these technology-specific identities should be defined

See: https://mailarchive.ietf.org/arch/msg/teas/ZLlnj8UfEWtZDJ6O8ZFcOiOJT9U/
