Rtgdir early review of draft-ietf-teas-rfc8776-update-14

> *Minor Issue*

> - [Page 17] The te-bandwidth tries to give an example for WDM which I really
> don't understand. I starts with the term "number", then uses it as "index"
> ("slot 0") but why would anyone point to a slot when specifying a bandwidth?
> Since spectral width is already defined in layer 0 types as flexi-m, I believe
> we should keep WDM te-bandwidth in bytes/s and drop all the WDM-related text
> (besides, I need an attribute to express the payload bandwidth my WDM tunnels
> can carry).

- [ ] #301

> - [p 43] On top restoration-scheme-presignaled and
> restoration-scheme-precomputed, I'don't understand what is refered to by
> restoration-scheme-preconfigured. (Note that those terms aren't used in the
> referenced RFC 4872.) Maybe we could consider deprecating it?

- [ ] #302

> - [p64/68] What is the use of the path-computation-error-no-server identity when we already
> have both path-computation-error-pce-unavailable and
> path-computation-error-no-dependent-server?
> 

- [x] We will remove the path-computation-error-no-server identity

> *Nits*

> - [p 11 & 103] The description of each module says "The model fully conforms to
> the NMDA". That seems a bit odd for modules that must be imported to be used
> (quoting the security section: "The modules by themselves do not expose any
> data nodes that are writable, data nodes that contain read-only state, or
> RPCs."). I would at least temper the wording by dropping the word "fully".

- [x] Agreed to remove the word "fully" (in line with RFC8407). To complete alignment with RFC8407, we will add a similar also in the Introduction section.

> - There are multiple instances of double spacing in module descriptions along the
> YANG specification which may be checked, e.g. in the normal/abnormal
> performance-metrics-normality enums [p 15].

- [x] We will fix in the next draft update

Note: In most of the YANG file occurrences, inserting a new line seems more appropriate (to be checked during PR review)

> - [p 85] In Performance Metric groupings' description, only the 1st one appearing in the document expands the
> PM acronym. Since the descriptions may be read independently, that's
> inconsistent: either we consider expansion is required and each description
> should do it at 1st occurrence, or we consider PM is well known is this context
> and expansion is omitted from all descriptions.

- [x] I guess it is [p 75]. We will expand the PM acronyms consistently in the next draft update.

> - [p 88] The label-step description says "values _will have to_ be consistent with the sign of label
> step"; shouldn't it be an RFC-2119 "MUST"?

- [x] We will change to a "MUST" in the next draft update

> - [p 94] When defining the path-route-exclude-objects, the augmentation for SRLGs should only say "An SRLG
> value to be excluded" ("to be included" doesn't apply here).

- [x] We will fix in the next draft update.

> - [p 107] The short format for "kilobits per second" units should use a lowercase K, i.e.
> "kbps".

- [ ] #303

> - [p 152] s/have been obsoletes/have been obsoleted/
> 

- [x] We will fix in the next draft update.

---

See: https://mailarchive.ietf.org/arch/msg/teas/DHpLmqDq6g3RWKrCvm6usRhc-f4/

> > _Minor Issue_
> 
> > * [Page 17] The te-bandwidth tries to give an example for WDM which I really
> >   don't understand. I starts with the term "number", then uses it as "index"
> >   ("slot 0") but why would anyone point to a slot when specifying a bandwidth?
> >   Since spectral width is already defined in layer 0 types as flexi-m, I believe
> >   we should keep WDM te-bandwidth in bytes/s and drop all the WDM-related text
> >   (besides, I need an attribute to express the payload bandwidth my WDM tunnels
> >   can carry).
> 

As described in https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-flexigrid-yang#section-5.3 there is no need to define WDM technology-specific TE bandwidth information.

However:
- since this data type was already defined in RFC8776, changing the semantic of its description could be an NBC change, if not carefully considered
- I am not sure whether this data type (and the data nodes using it) have been actually implemented, so NBC change may not be an issue for existing implementations/deployments
- I am also not sure whether it will ever be implemented at all instead of technology-specific augmentations, so I am not sure how important is to fix this issue

I think we have few options (in order of my preference):
1. Just deprecate this data type (as well as the data nodes using it) in favor of technology-specific augmentations (no changes/fix to the current description): BC change
2. No changes
3. Fix the description, indicating that this data type is not applicable to WDM (NBC change)
4. Fix the description, indicating that using this data type for WDM (keeping the same description) has been deprecated (BC change)
5. Fix the description, indicating that this data type should not be used for WDM, and deprecate this data type (as well as the data nodes using it) in favor of technology-specific augmentations (BC change)

IMHO, we better deprecate this data type (and associated data nodes) in favor of technology-specific augmentations and, for consistency, also the generalized TE label attributes.

> > * [p 43] On top restoration-scheme-presignaled and
> >   restoration-scheme-precomputed, I'don't understand what is refered to by
> >   restoration-scheme-preconfigured. (Note that those terms aren't used in the
> >   referenced RFC 4872.) Maybe we could consider deprecating it?
> 

I agree to deprecate it

> > * [p64/68] What is the use of the path-computation-error-no-server identity when we already
> >   have both path-computation-error-pce-unavailable and
> >   path-computation-error-no-dependent-server?
> 

I think we can remove the path-computation-error-no-server identity

> > _Nits_
> 
> > * [p 11 & 103] The description of each module says "The model fully conforms to
> >   the NMDA". That seems a bit odd for modules that must be imported to be used
> >   (quoting the security section: "The modules by themselves do not expose any
> >   data nodes that are writable, data nodes that contain read-only state, or
> >   RPCs."). I would at least temper the wording by dropping the word "fully".
> 

Ok to remove the word "fully" (it is also aligned with the guidelines in RFC8407)

> > * There are multiple instances of double spacing in module descriptions along the
> >   YANG specification which may be checked, e.g. in the normal/abnormal
> >   performance-metrics-normality enums [p 15].
> 

I will check and fix the md and YANG files

> > * [p 85] In Performance Metric groupings' description, only the 1st one appearing in the document expands the
> >   PM acronym. Since the descriptions may be read independently, that's
> >   inconsistent: either we consider expansion is required and each description
> >   should do it at 1st occurrence, or we consider PM is well known is this context
> >   and expansion is omitted from all descriptions.
> 

I guess it is [p 75]. I will check and expand the PM acronyms consistently

> > * [p 88] The label-step description says "values _will have to_ be consistent with the sign of label
> >   step"; shouldn't it be an RFC-2119 "MUST"?
> 

I agreed that is should be a "MUST"

> > * [p 94] When defining the path-route-exclude-objects, the augmentation for SRLGs should only say "An SRLG
> >   value to be excluded" ("to be included" doesn't apply here).
> 

I agree

> > * [p 107] The short format for "kilobits per second" units should use a lowercase K, i.e.
> >   "kbps".
> 

No strong opinion, may be good to have some guidelines (e.g., RFC8407-bis)

> > * [p 152] s/have been obsoletes/have been obsoleted/
> 

I agree

> See: https://mailarchive.ietf.org/arch/msg/teas/DHpLmqDq6g3RWKrCvm6usRhc-f4/
