Provide a more detailed description for the typedef te-metric

**2024-12-13 TE Call**

We have done some investigation and got some confusion

RFC 8375 is referenced by RFC 8776 but also by RFC 5440 as the source for the TE metric definition. However, the text in RFC 8375 describes the rationale to consider IGP as a second TE metric and how the first TE metric can be used when differs from the IGP metric

RFC 8375 references RFC 3630 and RFC 3784 for the definition of the first TE metric but we have found that:
-	RFC 3630 defines a “Traffic Engineering Metric” in section 2.5.5
-	RFC 3785 defines a “Traffic Engineering Default Metric” in section 3.7

We have also noted that in the draft, these two RFCs have been referenced to define the identity link-metric-te

We may align the definition of the typedef te-metric with the definition of the identity link-metric-te

---

Co-authored by @aguoietf @sergiobelotti @xufengliu 

**2025-01-10 TE Call**

Agreed to change the description to "Traffic Engineering (TE) Metric" and reference RFC 3630 and RFC 5305