Describe new protocol origin types in RFC8776-update

RFC8776-update defines the YANG base identity base YANG identity for the type of protocol origin.

Some of the derived identities are defined by reference to [RFC5440] and [RFC5512], while others are defined in RFC8776-update

How to describe them in the RFC8776-update I-D?