Measurement unit for leaf one-way-delay-offset

**2024-12-13 TE Call**

For the one-way-delay-offset, we think that the units can be “microseconds” following the definitions in sections 4.2.5 and 4.2.7 of RFC 7471 and in section 4.2 of RFC 8570

**2025-01-10 TE Call**

Agreed to define units as “microseconds” 