Yangdoctors early review of draft-ietf-teas-rfc8776-update-14

> However, I found a few issues.  First, the indentation and formatting are off. 
> I recommend a good "pyang -f yang" on these to normalize the YANG structure. 

- [ ] To do after all the comments are addressed

> Second, the latest revision in each (2020-06-10) doesn't match the file name of
> 2024-10-17.  The revision statements themselves make reference to the original
> 8776 where I think you should change that to RFC XXXX to prompt the RFC Ed to
> change it when this new draft is published.
> 

**Authors: Our understanding of the guidelines in section 4.8 of RFC8407 is that the latest revision statement should represent the Initial revision published in RFC8776 while the first revision statement should represent this revision to be published in RFCXXXX**

> One other thing that generally applies to both modules: there are several leafs
> that specific delay.  The description indicates the delay is measured in
> microseconds, but there is no "units" attribute.  I think making units explicit
> in the leaf definition would be valuable.

- [x] To Do

**Authors: Agreed and fixed in the -15 revision**

> Similarly, I see several packet-loss
> leafs where the max is described as 50.331642%.  I think a "percent" units
> would be useful on those.
> 

- [x] To Do

**Authors: Agreed and fixed in the -15 revision**

> On to per-module items:
> 
> ietf-te-types:
> 
> For the first typedef srlg, expand SRLG in the description.  You do this below
> for another node, but I think it would be helpful here.
> 

- [x] To Do

**Authors: Agreed and fixed in the -15 revision**

> For typedef te-metric, please provide a more detailed description.
> 

- [x] #297

> For leaf one-way-delay-offset, what unit is this measured in?  And can you add
> that as a "units" attribute?  Also, add units for measured-interval,
> advertised-interval, etc.
> 

- [ ] #298
- [x] Add measurement unit for measured-interval, advertised-interval, etc.

> In list route-object-include-exclude, you use the explicit-route-hop grouping,
> but you augment that to put in slrg.  Why?  Why not just have this case in the
> type choice globally?

- [x] Describe that in some cases the srlg is used and in other it is not

**Authors: There are some cases where the grouping route-object-include-exclude should not contain the srlg hop type and other cases where it should so the srlg hop type cannot be part of the common grouping route-object-include-exclude**

> It seems odd to augment one's own module.  You do this
> same thing in the path-route-exclude-objects grouping below.
> 

- [x] Create a new grouping the with srlg case

**Authors: In order to avoid repeated augmentations, we have created a new grouping explicit-route-hop-with-srlg which is augmenting the grouping explicit-route-hop with the srlg hop type. As far as we know, this is the only way to make sure that the grouping explicit-route-hop-with-srlg and explicit-route-hop are kept aligned with the only difference being the srlg hop type.**

> In leaf upper-bound, you have a typo: s/Specificied/Specified/
> 

- [x] To Do

**Authors: Fixed in the -15 revision**

> Module ietf-te-packet-types:
> 
> Type: s/Enginneering/Engineering/
> 

- [x] To Do

**Authors: Fixed in the -15 revision**

> For Security Considerations, I think it would be useful to flesh out specifics
> around those groupings or grouping leafs that could be more sensitive it would
> be helpful to those that consume these modules.
> 

- [x] Align with the template in RFC 8407-bis

**Authors: The text of the security considerations is aligned with the template provided in draft-ietf-netmod-rfc8407bis**

---

See: https://mailarchive.ietf.org/arch/msg/teas/JPDDcBDKuPshj-otOoyQZB2Vxck/