Definition of Input Shaping/Policing for Path Computation

See this comment regarding path computation YANG model: https://github.com/IETF-TEAS-WG/ietf-teas-yang-path-computation/issues/124

We think that some text referencing section 10.7.2 of RFC5440 would be useful also in the context of TE tunnel (since path computation is triggered when a TE tunnel is asked to be configured using the TE tunnel model)

We would propose to keep the definition of the input shaping/policing mechanisms and of their configuration outside the scope of both TE tunnel and path computation drafts

Co-authored-by: sergio belotti <sergio.belotti@nokia.com>

