Describe new path computation error reasons in RFC8776-update

RFC8776-update defines the YANG base identity for reporting path computation error reasons.

Some of the derived identities are defined by reference to [RFC5440], [RFC5441], [RFC5520], [RFC5557], [RFC8306] and [RFC8685] while others are defined in RFC8776-update

How to describe them in the RFC8776-update I-D?