Use path loss and delay variation metrics as metrics for optimization 

In current model, when computing a path, an optimization metric can be set. The optimization metrics are those of base type path-metric-type:
- TE path metric
- IGP path metric
- Hop path metric
- Unidirectional average link delay
- Unidirectional minimum link delay
- Path-metric-residual-bandwidth
- path-metric-optimize-includes
- path-metric-optimize-excludes
We would need to support aditionally, at least, the metrics that are available in PCEP, in particular, those defined in RFC 8233
- delay variation (defined in RFC 7471).
- path losss (defined in RFC 7471).
Currently, those metrics are defined in te-types as performance metrics and are used in the te-mpls model, however, not to be used in the optimization.

I agree, these should be added. Should be supported both as optimization metrics and as path constraints with upper-bound.

@jkarvone: selecting optimization metric and setting metric is currently possible. See:

    container path-metric-bounds {
      description
        "TE path metric bounds container.";
      list path-metric-bound {
        key "metric-type";
        description
          "List of TE path metric bounds.";
        leaf metric-type {
          type identityref {
            base path-metric-type;
          }
          description
            "Identifies an entry in the list of 'metric-type' items
             bound for the TE path.";
        }
        leaf upper-bound {
          type uint64;
          default "0";
          description
            "Upper bound on the end-to-end TE path metric.  A zero
             indicates an unbounded upper limit for the specific
             'metric-type'.";
        }

@oscargdd: from RFC 8233:

        Value       Description                        Reference
        ----------------------------------------------------------
        12          Path Delay metric                  RFC 8233
        13          Path Delay Variation metric        RFC 8233
        14          Path Loss metric                   RFC 8233
        15          P2MP Path Delay metric             RFC 8233
        16          P2MP Path Delay variation metric   RFC 8233
        17          P2MP Path Loss metric              RFC 8233

We are missing identity for TE metric-type 13 and 14. These are normally packet specific, so should be added to TE packet types.

AI (Tarek): to fix this.
Add metric type for path loss
Add metric type for path loss variation

**2020-09-25 TEAS Call**
Should this identity be moved to a packet specific module?

This metric is defined as a percentage but the upper bound is defined as a uint64. Some clarification on how the percentage should be encoded in uint26 is needed.

uint64 can still be used but the interger is multiplied by the basic unit 0.000003%. This is described in rfc7810#section-4.4

   Link Loss: This 24-bit field carries link packet loss as a percentage
   of the total traffic sent over a configurable interval.  The basic
   unit is 0.000003%, where (2^24 - 2) is 50.331642%.

To add in description 

@tsaad-dev : I have re-opened this issue to track the two comments discussed during 2021-05-21 TEAS call:

- https://github.com/tsaad-dev/te/commit/e23b29505d9c45ac9e118e7aac70497f3933a059#r51130614
- https://github.com/tsaad-dev/te/commit/e23b29505d9c45ac9e118e7aac70497f3933a059#r51130821

Additional comments:

1. the metric values are defined in both the generic-path-metric-bounds and the generic-path-properties groupings defined in TE Types (RFC8776). IMHO, the encoding should be defined in the description of the identity: this would simplify adding new metric types.

1. why the path-metric-loss is defined in te-mpls and not in te-packet-types? I think it is more generic and applicable to other tunnel/topology models

Adressed 1). For 2), te-packet-types are already in rfc8776.

bis of rfc8776?
should we add a new revision of te-packet-types in TE tunnel model I-D? Or in the MPLS topology I-D ?

> @tsaad-dev : I have re-opened this issue to track the two comments discussed during 2021-05-21 TEAS call:
> 
> * [e23b295#r51130614](https://github.com/tsaad-dev/te/commit/e23b29505d9c45ac9e118e7aac70497f3933a059#r51130614)
> * [e23b295#r51130821](https://github.com/tsaad-dev/te/commit/e23b29505d9c45ac9e118e7aac70497f3933a059#r51130821)

I think that the current text in [draft-ietf-teas-yang-te-34](https://datatracker.ietf.org/doc/html/[draft-ietf-teas-yang-te-34](https://datatracker.ietf.org/doc/html/draft-ietf-teas-yang-te-34)) resolves these comments:

```
         - path metric bounds constraint. The unit of path metric
           bound is interpreted in the context of the metric-type.
           For example for metric-type 'path-metric-loss', the bound
           is multiples of the basic unit 0.000003% as described
           in RFC7471 for OSPF, and RFC8570 for ISIS.

```

[RFC8570](https://datatracker.ietf.org/doc/html/rfc8570) replaces [RFC7810](https://datatracker.ietf.org/doc/html/rfc7810) and [RFC8571](https://datatracker.ietf.org/doc/html/rfc8571) references both RFC7471 and [RFC8570](https://datatracker.ietf.org/doc/html/rfc8570) so no need to reference it for BGP-LS


> Adressed 1). For 2), te-packet-types are already in rfc8776.

I think that we can:

1. Move path loss metric to te-packet-types
2. Add path delay variation metric to te-packet-types
3. Move clarification that the unit of path metric bound is interpreted in the context of the metric-type from ietf-te to this draft


See WG LC comment 4 in https://mailarchive.ietf.org/arch/msg/teas/Cyxb96gaCwJzMAPn9CaMnbvuPjU/

In [RFC8233](https://datatracker.ietf.org/doc/html/rfc8233), the path loss and path delay variation are encoded in IEEE floating point format and not as a 24-bit long integer

For the path loss the maximum value (2^24 - 2) or 50.331642% seems still reasonable

For the path delay variation, which is defined as the sum of the link delay variation of the all links traversed by the path, is the maximum value (2^24 - 1) or 16,777,215 microseconds (16.777215 sec) still valid or should it be exteneded?


  grouping common-path-constraints-attributes {
    description
      "Common path constraints configuration grouping.";
    uses common-constraints;
    uses generic-path-metric-bounds;
    uses generic-path-affinities;
    uses generic-path-srlgs;
  }

TE-metic = delay (300msec)

Consider adding new hop constraints. For now, we want bounded metrics.

new grouping for generic-hop-constraints {
    metric 
    bound
}



Reading section 3.3 of RFC8233, I have got the following understanding:
-	The Link Delay metric is defined in RFC7471 (OSPF-TE) and RFC7810 (IS-IS TE)
-	The Link Delay metric is defined as 24-bit field in microseconds (integer)
-	The Link Delay metric is defined, for OSPF-TE, in the following IANA registry:
https://www.iana.org/assignments/ospf-traffic-eng-tlvs/ospf-traffic-eng-tlvs.xhtml#subtlv2
-	The Link Delay metric is defined, for IS-IS, in the following IANA registry:
https://www.iana.org/assignments/isis-tlv-codepoints/isis-tlv-codepoints.xhtml#isis-tlv-codepoints-advertising-neighbor-information
-	The Path Delay metric is defined in RFC8233 as a 32-bit IEEE floating point value
-	The Path Delay metric is defined in the following IANA registry (thanks Julien for the reference):
https://www.iana.org/assignments/pcep/pcep.xhtml#metric-object-ni-field

However, RFC8776 defines path delay average and minimum as path metrics by referencing RFC7471 which seems a bit confusing at least to me

I am wondering whether it would be worthwhile defining two set of identities, one for the TE link metrics and one for the TE path metrics, although I have also few doubts with this approach:
-	Where in RFC8795 (TE topology) are the TE link metrics reported?
-	How to describe the relationship between the hierarchical TE link metrics and the underlay TE path metrics?


AI (Italo): to improve the description in leaf upper-bound to drop end-to-end ...
The path-metric-type identity will describe whether the metric is per link or cumulative (per path). Probably need to add missing identities.

I have some some research on the current definitions of link and path metrics: [metrics-00.xlsx](https://github.com/tsaad-dev/te/files/14222465/metrics-00.xlsx)

I think it is better to define link-metric and path-metric to distinguish the two types of metrics

Additional questions:

1. grouping optimization-metric-entry: should it support optimization based only on the path metrics or also based on the link metric? Not clear how optimization based on link metrics could actually work
2. leaf tiebreaker-type: should it support only path metrics as tiebreakers or also link metrics? Not clear how the link metrics can be used as tiebreakers. See also issue 
3. grouping generic-path-properties: I think only the path metrics should be reported here

Based on these considerations, I am wondering whether it would be better to add a new `link-metric-bound` list rather than re-defining the existing `path-metric-bound`: see 

**2024-02-09 TE call**

Definition of link and path metrics updated: 

- [ ] @italobusi : update the YANG models accordingly
- [ ] @tsaad-dev : check references for path-metric-residual-bandwidth
- [ ] @all: check why RFC8776 is referencing RFC3785 instead of RFC36360 and RFC5305 for the TE link metric


> * [x]  @italobusi : update the YANG models accordingly
> *

Done: https://github.com/tsaad-dev/te/pull/262/commits/8b705038df261e59b6986cdcc7753d5acc667d5c