Med's WG LC comments

> # Major comments
> 
> Offload path-computation-error-reason to an IANA-maintained model. The current design is suboptimal. Please refer to the 84047bis on these matters.
> 

Authors: We have provided some clarification about the rationale based on previous discussion on the mailing lis:

https://mailarchive.ietf.org/arch/msg/teas/WXcw8q7sqYkFBbF-R5KfdBp00AI/

- [x] #281

> Default values may be problematic when reusing the groupings. For example, if the same grouping is used in some kind of profile but the grouping is called for in addition to reference to that profile, the default value will override what is inherited from the profile. I would remove the default statement, but add the default value in the description text.
> 

- [x] #282

> 
> Mandatory statements may also be problematic and would prevent some usages. For example, a CIR/CBS must always be present, while this is not optimal when profiling/templates are used.:
> 

- [x] #283

The design decision was to limit the use of mandatory/must/when statements to the minimum level only when really required and universally applicable. For example, a node-hop shall report a node identifier: reporting a node hop is optional (a profile can avoid reporting it) but if a node hop is reported a node identifier shall be present

Unless a specific issue is identified, we will not change the existing mandatory/must/when statements

> &nbsp;&nbsp;&nbsp;&nbsp;BTW, please consider aligning the bandwidth structure with the bandwidth groupings in the AC and slicing models: add pir/pbs.
> 
> 

- [x] #285

> It seems that the module focuses mainly on configuration, while this should cover also reporting purposes. Please update the description of the some nodes to reflect this + consider new groupings:
> &nbsp;&nbsp;&nbsp;&nbsp;for example, performance-metrics-attributes-packet and one-way-performance-metrics-packet can't be reused for stats. Please consider providing new groupings (with the same nodes) but with gauge type.
> 

- [x] #289

> # Minor comments
> 
> I would avoid changing the structure of sections to ease mapping with 8776. For example, I would keep 1.1/1.2 as it was in 8776.
>

Ok, done in [draft-ietf-teas-rfc8776-update-12](https://datatracker.ietf.org/doc/html/draft-ietf-teas-rfc8776-update-12)

> Acronyms: order them in an alphabetic order. Not sure the reasoning of the current ordering.
>

- [x] #290 

> Include trees with -print-groupings or a pointer to where to retrieve the full trees.
>

- [x] #290 

Please note that in order to follow the guidelines in draft-ietf-netmod-rfc8407bis, section 1.2 of RFC8776 is now section 1.3 (in contradiction with previous comment to keep sections 1.1/1.2 as in RFC8776)

> The tree in 3.2 is not aligned with the YANG module: the bandwidth tree indicates that CIR/CBS are optional (with ?), while these are tagged as mandatory in the module.
>

Fixed in [draft-ietf-teas-rfc8776-update-12](https://datatracker.ietf.org/doc/html/draft-ietf-teas-rfc8776-update-12)

> Consider adding explicit pointers to the specific section(s) of cited documents. It is not always easy to find which part of a document is relevant.
>

- [x] #286

Authors' preference is not to make this change: the reference to the RFCs seem sufficient.

> &nbsp;&nbsp;&nbsp;&nbsp;fThis should be fixed for both the narrative text and the YANG models.
>
> I have doubts about many of enums (e.g., path-type). Please check that these are justified vs using identities.
>

Most of the enumerations are from RFC 8776 and changing them would be an NBC change

The `path-type` should be an enumeration since it is follows the structure of the TE tunnel model. It can and shall be updated only when new types of paths are defined, through standard actions, in the TE tunnel model.

The 'te-generic-node-id' should also be an enumeration. It can and shall be updated only when new formatting for the `te-gen-node-id` data type are defined, through standard actions, in the TE types model .

> union of union types (e.g., te-gen-node-id) includes overlapping types (e.g., inet:ip-address vs. inet:ipv6-address-no-zone): consider simplifying.
>

- [x] #288

> I think that many informative references should move to be normative. For example, RFC6370 should be normative. Please double check.
>

- [x] #287

> MEF 6.2 EVC Ethernet Services Definitions Phase 3 - MEF : standard superseded. Please double check this reference.
> 

I cannot find any reference to MEF 6.2

> I filled a PR with editorial fixes, broken refs, etc.: https://github.com/tsaad-dev/te/pull/277/files
> 

See: https://mailarchive.ietf.org/arch/msg/teas/wUvcdF4HI3L56Ob0lp0rvu6KIV8/




> > # Major comments
> > Offload path-computation-error-reason to an IANA-maintained model. The current design is suboptimal. Please refer to the 84047bis on these matters.

This was debated on the list:

https://mailarchive.ietf.org/arch/msg/teas/WXcw8q7sqYkFBbF-R5KfdBp00AI/

The current definition of path-computation-error-reason is actually hierarchical and not flat as in the IANA register

> > Default values may be problematic when reusing the groupings. For example, if the same grouping is used in some kind of profile but the grouping is called for in addition to reference to that profile, the default value will override what is inherited from the profile. I would remove the default statement, but add the default value in the description text.
> 

In another module we have received a YANG doctor comment requesting default values to be always used. However, this proved not to be always possible so we are trying to add default values only when this makes sense

For grouping re-usability, the default values can be changed using the `refine` statement when the grouping is used

It is also worth noting that most of the existing default values have been already defined in RFC8776 and removing them would be an NBC change according to RFC7950

> > Mandatory statements may also be problematic and would prevent some usages. For example, a CIR/CBS must always be present, while this is not optimal when profiling/templates are used.:
> >     BTW, please consider aligning the bandwidth structure with the bandwidth groupings in the AC and slicing models: add pir/pbs.

For grouping re-usability, the mandatory statement can be changed using the `refine` statement when the grouping is used

For profiling, you are right and almost everything is optional with few exceptions where the attribute cannot be optional in a profile

Do you see profiles where CIR/CBS should not be present? In this case, I think we can remove the mandatory statement.
I can only see cases where the CIR and/or the CBS can be set to 0 but in these case they shall be explicitly set to 0.

PIR/PBS were already defined in the YANG code but not in the text description: the text description has been fixed accordingly

> > It seems that the module focuses mainly on configuration, while this should cover also reporting purposes. Please update the description of the some nodes to reflect this + consider new groupings:
> >     for example, performance-metrics-attributes-packet and one-way-performance-metrics-packet can't be reused for stats. Please consider providing new groupings (with the same nodes) but with gauge type.
> > # Minor comments
> > I would avoid changing the structure of sections to ease mapping with 8776. For example, I would keep 1.1/1.2 as it was in 8776.
> > Acronyms: order them in an alphabetic order. Not sure the reasoning of the current ordering.
> > Include trees with -print-groupings or a pointer to where to retrieve the full trees.
> > The tree in 3.2 is not aligned with the YANG module: the bandwidth tree indicates that CIR/CBS are optional (with ?), while these are tagged as mandatory in the module.
> > Consider adding explicit pointers to the specific section(s) of cited documents. It is not always easy to find which part of a document is relevant.
> >     fThis should be fixed for both the narrative text and the YANG models.
> > I have doubts about many of enums (e.g., path-type). Please check that these are justified vs using identities.
> > union of union types (e.g., te-gen-node-id) includes overlapping types (e.g., inet:ip-address vs. inet:ipv6-address-no-zone): consider simplifying.
> > I think that many informative references should move to be normative. For example, RFC6370 should be normative. Please double check.
> > MEF 6.2 EVC Ethernet Services Definitions Phase 3 - MEF : standard superseded. Please double check this reference.
> > I filled a PR with editorial fixes, broken refs, etc.: https://github.com/tsaad-dev/te/pull/277/files
> 
> See: https://mailarchive.ietf.org/arch/msg/teas/wUvcdF4HI3L56Ob0lp0rvu6KIV8/



> > # Minor comments
> > I would avoid changing the structure of sections to ease mapping with 8776. For example, I would keep 1.1/1.2 as it was in 8776.

Ok for me

> > Acronyms: order them in an alphabetic order. Not sure the reasoning of the current ordering.

Ok for me but this section has not been changed from RFC 8776 ...

> > Include trees with -print-groupings or a pointer to where to retrieve the full trees.

I agree: add an appendix with the generated YANG tree

> > The tree in 3.2 is not aligned with the YANG module: the bandwidth tree indicates that CIR/CBS are optional (with ?), while these are tagged as mandatory in the module.

Fixed: see also https://github.com/tsaad-dev/te/pull/277/files#r1616321470

---

> > I have doubts about many of enums (e.g., path-type). Please check that these are justified vs using identities.

Most of the enumerations are from RFC 8776 and changing them would be an NBC change

The `path-type` should be an enumeration since it is follows the structure of the TE tunnel model. It can and shall be updated only when new types of paths are defined, through standard actions, in the TE tunnel model.

The 'te-generic-node-id' should also be an enumeration. It can and shall be updated only when new formatting for the `te-gen-node-id` data type are defined, through standard actions, in the TE types model .

---

> > MEF 6.2 EVC Ethernet Services Definitions Phase 3 - MEF : standard superseded. Please double check this reference.

I cannot find any reference to MEF 6.2

All comments have been addressed in [draft-ietf-teas-rfc8776-update-13](https://datatracker.ietf.org/doc/html/draft-ietf-teas-rfc8776-update-13)

See: https://mailarchive.ietf.org/arch/msg/teas/tsc5Cp0djOfGlSXaYDVZn5qo9cs/