Applicability of EIR

How to indicate that EIR is not applicable to RFC 2697?

Option 1:
```
        must
            '../bw-profile-type = "etht-types:mef-10-bwp" or ' +
            '../bw-profile-type = "etht-types:rfc-2698-bwp" or ' +
            '../bw-profile-type = "etht-types:rfc-4115-bwp"'
```
Option 2:
```
        must
            '../bw-profile-type != "etht-types:rfc-2697-bwp"'
```

Need for a generic solution that could be applicable also to other BWP types ...

If proper constraints are defined, should we define also PIR and PBS as being applicable only to RFC2698?


- [ ] @italobusi @tsaad-dev : check if there are other models with must statements that depends on a type attribute

In [RFC8466](https://datatracker.ietf.org/doc/html/rfc8466), they define all the parameters (CIR, CBR, EIR, EBS, PIR and PBS) as optional with no when/must statement conditions:

```
           +--rw service
           |  +--rw svc-bandwidth {input-bw}?
           |  |  +--rw bandwidth* [direction type]
           |  |     +--rw direction    identityref
           |  |     +--rw type         identityref
           |  |     +--rw cos-id?      uint8
           |  |     +--rw vpn-id?      svc-id
           |  |     +--rw cir          uint64
           |  |     +--rw cbs          uint64
           |  |     +--rw eir?         uint64
           |  |     +--rw ebs?         uint64
           |  |     +--rw pir?         uint64
           |  |     +--rw pbs?         uint64

```

Same approach in [RFC9291](https://datatracker.ietf.org/doc/html/rfc9291):

```
                          |  +--rw pe-to-ce-bandwidth* [bw-type]
                          |     +--rw bw-type      identityref
                          |     +--rw (type)?
                          |        +--:(per-cos)
                          |        |  +--rw cos* [cos-id]
                          |        |     +--rw cos-id    uint8
                          |        |     +--rw cir?      uint64
                          |        |     +--rw cbs?      uint64
                          |        |     +--rw eir?      uint64
                          |        |     +--rw ebs?      uint64
                          |        |     +--rw pir?      uint64
                          |        |     +--rw pbs?      uint64
                          |        +--:(other)
                          |           +--rw cir?   uint64
                          |           +--rw cbs?   uint64
                          |           +--rw eir?   uint64
                          |           +--rw ebs?   uint64
                          |           +--rw pir?   uint64
                          |           +--rw pbs?   uint64
```

In [I-D.ietf-rtgwg-qos-model-10](https://datatracker.ietf.org/doc/html/draft-ietf-rtgwg-qos-model-10), they define different set of parameters for different types of meters:
- only CIR and CBS attributes are defined for `single-rate-two-color-meter-type`
- only CIR, CBS and EBS attributes are defined for `single-rate-three-color-meter-type` (by reference to RFC2697)
- CIR, CBS, PIR and PBS attributes are defined for `two-rate-three-color-meter-type` (RFC2698)
- RFC4115 and MEF10 are not supported

```
       +--:(meter-inline)
       |  +--rw (meter-types)?
       |     +--:(single-rate-two-color-meter-type)
       |     |     ...
       |     +--:(single-rate-three-color-meter-type)
       |     |     ...
       |     +--:(two-rate-three-color-meter-type)
       |           ...

```


See proposal in PR #235 

**2023-07-07 TE Call**

It has been agreed to follow the same approach in [RFC8466](https://datatracker.ietf.org/doc/html/rfc8466)