Missing local-protection

"local protection" refers to the L bit of the LSPA object defined in RFC5440.

" L flag: Corresponds to the "Local Protection Desired" bit
([RFC3209]) of the SESSION-ATTRIBUTE Object. When set, this
means that the computed path must include links protected with
Fast Reroute as defined in [RFC4090]."

So this is different from asking for a protected path within the domain, as we'll have just one path formed only by protected links (note that in RFC5440 an explicit reference is done to the Fast Reroute, but the meaning of this attribute could be extended to additional technologies using line protected links
see https://github.com/rvilalta/ietf-te-path-computation/issues/24


@tsaad-dev , @efralaz : is this issue still open or can we close it?


The comment has been resolved:

https://tools.ietf.org/html/draft-ietf-teas-yang-te-types-08

@tsaad-dev : could you please close this issue?