Reference and definition for Neighbor Epoch

https://github.com/tsaad-dev/te/blob/692d392ff805f0d05b02bbec2d49131b31ae48f6/ietf-rsvp.yang#L439-L445

I was not able to find the definition for Epoch in RFC5063 but I have found some definition in section 4.5 of RFC2961 and in particular I have found the following text:

```
   <..> On startup, a node SHOULD randomly select
   a value to be used in the Epoch field.  The node SHOULD ensure that
   the selected value is not the same as was used when the node was last
   operational.  The value MUST NOT be changed unless the node or the
   RSVP agent is restarted.

```

I think assigning a default value is not consistent with the requirement of being randomly selected

I think that if the value is not configured it would mean that the Epoch used by the neighbor is not known but may be learnt by the device and eventually reported in the operational datastore.

It is proposed to:
1. either add RFC2961 to the reference or to replace the reference with RFC2961
2. remove the default value

Agreed:
- Add RFC2961 to the reference
- Remove the default value