IETF LC OpsDir review of draft-ietf-teas-rfc8776-update-19

> Document: draft-ietf-teas-rfc8776-update
> Title: Common YANG Data Types for Traffic Engineering
> Reviewer: Sergio Belotti
> Review result: Ready
> 
> Hi,
> 
> I have been selected as the Operational Directorate (opsdir) reviewer for this Internet-Draft.
> 
> The Operational Directorate reviews all operational and management-related Internet-Drafts to ensure alignment with operational best practices and that adequate operational considerations are covered.
> 
> A complete set of _"Guidelines for Considering Operations and Management in IETF Specifications"_ can be found at https://datatracker.ietf.org/doc/draft-opsarea-rfc5706bis/.
> 
> While these comments are primarily for the Operations and Management Area Directors (Ops ADs), the authors should consider them alongside other feedback received.
> 
> - Document: [draft-ietf-teas-rfc8776-update-19]
> 
> - Reviewer: [Sergio Belotti]
> 
> - Review Date: [2025-12-09]
> 
> - Intended Status: [Proposed Standard]
> 
> ---
> 
> ## Summary
> 
> - This document is basically ready for publication but has nits that should be considered prior to publication. This document introduces a collection of common data types derived from the built-in YANG data types. The derived data types, identities, and groupings are mainly designed to be the common definitions applicable in Traffic Engineering (TE) model(s) defined outside of this document The document obsoletes [RFC8776] updating some of the existing data types, identities, and groupings and fixes few bugs in [RFC8776]. It provides a new revision of the YANG module contained in that RFC, and retains the data types previously defined, but also adds new type definitions to both the "ietf-te-types" and the "ietf-te-packet-types" YANG modules defined in this document. The document is clear and well-written. The motivation is described well. The document is almost ready for publication even if some minor comments it would be good to be fixed before publication.
> 
>  No major issues found.
> 
> ## Minor Issues
> 
> ### Section
> 
> #### Section 3.1.1
> 
> link-protection-type :I think for link-protection-type should be better to reference RFC3471 and leave the reference for RFC 4872 for lsp-protection-type
> 
> switching-capabilities: It is stated "Additional technology-specific interface switching capabilities can be defined in other technology-specific models ."
> but in reality some additional technology-specific interface switching capabilities have been added in the te-types module. We should probably delete this sentence or delete the switching capabilities introduced in the modules.
> 
> protocol-origin-type: I do not see any definition of protocol origin even in the RFCs referenced in section 3.1.1.2.
> 
> svec-metric-type: Maybe here there is a wrong copy&paste : I suppose it would be SVEC metric list
> 
> #### Section 3.1.1.1
> 
> path-computation-error-no-dependent-server: It is stated "The dependent path computation server could be a Backward-
>   Recursive Path Computation (BRPC)  downstream PCE or a child PCE" --> I would
>   add the reference to RFC5441 where BRPC is defined
> 
> #### Section 3.1.2
> 
> admin-groups:I would suggest to put RFC reference close to the word classic or extended to make more clear the correct reference . That means:“ A union type for a TE link's classic or extended administrative groups as defined in [RFC3630], [RFC5305] for classic and [RFC7308] for extended.
> 
> #### Section 3.2.3
> 
> performance-metrics-attributes-packet : There are new data nodes in this grouping without any reference. E.G. “one-way-min-delay” defines a range but no reference to understand where/how this range is defined
> 
> bandwidth-profile-parameters : The grouping describes Ethernet traffic parameters but does not indicate reference for them. Please add RFC6003 or
> MEF10.1 as reference
> 
> ### YANG
> 
> identity lsp-encoding-oduk: The document should be technology agnostic. Not sure this encoding should be here and not in L1-types for OTN specific.
> 
> identity route-include-object: Maybe the reference to RFC3209 and RFC3473 is still valid since both the document allow “abstract nodes and resources to be explicitly included”
> 
> case as-number {   -->  No description related to this “case” as-number
> statement
>            container as-number-hop
> 
> ### Appendix B
> 
> te-gen-node-id : This data type is mentioned as “new” data type added to “ietf-te-types” but is present in the Appendix B but not in the YANG schema.
> 
> ## Nits
> 
>  > Section 3.1.1.1: path-computation-error-no-dependent-server: 3.  match more  than one PCEP numbers --> Nits s/numbers/number > Section 3.1.2:
>  te-recovery-status:  s/statuses/status
> 
> ---
> 

See: https://mailarchive.ietf.org/arch/msg/teas/7acZNfkFkdyROGeVA_GoJ49mOUE/

Proposed Resolution:

> Document: draft-ietf-teas-rfc8776-update
> Title: Common YANG Data Types for Traffic Engineering
> Reviewer: Sergio Belotti
> Review result: Ready
> 
> Hi,
> 
> I have been selected as the Operational Directorate (opsdir) reviewer for this Internet-Draft.
> 
> The Operational Directorate reviews all operational and management-related Internet-Drafts to ensure alignment with operational best practices and that adequate operational considerations are covered.
> 
> A complete set of _"Guidelines for Considering Operations and Management in IETF Specifications"_ can be found at https://datatracker.ietf.org/doc/draft-opsarea-rfc5706bis/.
> 
> While these comments are primarily for the Operations and Management Area Directors (Ops ADs), the authors should consider them alongside other feedback received.
> 
> - Document: [draft-ietf-teas-rfc8776-update-19]
> 
> - Reviewer: [Sergio Belotti]
> 
> - Review Date: [2025-12-09]
> 
> - Intended Status: [Proposed Standard]
> 
> ---
> 
> ## Summary
> 
> - This document is basically ready for publication but has nits that should be considered prior to publication. This document introduces a collection of common data types derived from the built-in YANG data types. The derived data types, identities, and groupings are mainly designed to be the common definitions applicable in Traffic Engineering (TE) model(s) defined outside of this document The document obsoletes [RFC8776] updating some of the existing data types, identities, and groupings and fixes few bugs in [RFC8776]. It provides a new revision of the YANG module contained in that RFC, and retains the data types previously defined, but also adds new type definitions to both the "ietf-te-types" and the "ietf-te-packet-types" YANG modules defined in this document. The document is clear and well-written. The motivation is described well. The document is almost ready for publication even if some minor comments it would be good to be fixed before publication.
> 
>  No major issues found.
> 
> ## Minor Issues
> 
> ### Section
> 
> #### Section 3.1.1
> 
> link-protection-type :I think for link-protection-type should be better to reference RFC3471 and leave the reference for RFC 4872 for lsp-protection-type
> 

Italo: Sounds reasonable. I am wondering whether it would be better to reference section 2.2. of RFC4202 (GMPLS routing) instead of RFC3471 (GMPLS signaling). I am also wondering whether it is worthwhile aligning the descriptions in the YANG module with the text in the referenced RFCs.

> switching-capabilities: It is stated "Additional technology-specific interface switching capabilities can be defined in other technology-specific models ."
> but in reality some additional technology-specific interface switching capabilities have been added in the te-types module. We should probably delete this sentence or delete the switching capabilities introduced in the modules.
> 

Italo: YANG identities for the technology-specific interface switching capabilities defined in the referenced RFCs have been defined in RFC8776.
However, in order to avoid re-opening this RFC every time a new technology-specific interface switching capabilities, it has been agreed not to add new technology-specific interface switching capabilities in this YANG model. For example, YANG identities for WSON-LSC and Flexi-Grid-LSC have been defined in RFC9093-bis.

> protocol-origin-type: I do not see any definition of protocol origin even in the RFCs referenced in section 3.1.1.2.
> 

Need help

> svec-metric-type: Maybe here there is a wrong copy&paste : I suppose it would be SVEC metric list
> 

Italo: The svec-metric-type is the base identity used in the SVEC metric list:

```
  identity svec-metric-type {
    description
      "Base identity for SVEC metric type.";
    reference
      "RFC 5541: Encoding of Objective Functions in the Path
                 Computation Element Communication Protocol (PCEP)";
  }
```

> #### Section 3.1.1.1
> 
> path-computation-error-no-dependent-server: It is stated "The dependent path computation server could be a Backward-
>   Recursive Path Computation (BRPC)  downstream PCE or a child PCE" --> I would
>   add the reference to RFC5441 where BRPC is defined
> 

Italo: Ok, we can add a reference to RFC 5441 for BRPC and to RFC 8685 for child PCE.

> #### Section 3.1.2
> 
> admin-groups: I would suggest to put RFC reference close to the word classic or extended to make more clear the correct reference . That means:“ A union type for a TE link's classic or extended administrative groups as defined in [RFC3630], [RFC5305] for classic and [RFC7308] for extended.
> 

Italo: Ok

> #### Section 3.2.3
> 
> performance-metrics-attributes-packet : There are new data nodes in this grouping without any reference. E.G. “one-way-min-delay” defines a range but no reference to understand where/how this range is defined
> 

Italo: Ok, in principle

- [ ] Need help to find all the references, besides those already existing in the YANG module:

```
            "RFC 5481: Packet Delay Variation Applicability
                       Statement, Section 4.2";

            "RFC 7471: OSPF Traffic Engineering (TE) Metric
                       Extensions
             RFC 8570: IS-IS Traffic Engineering (TE) Metric
                       Extensions
             RFC 7823: Performance-Based Path Selection for
                       Explicitly Routed Label Switched Paths (LSPs)
                       Using TE Metric Extensions";

            "RFC 8570: IS-IS Traffic Engineering (TE) Metric
                       Extensions, Section 4.4";

```

> bandwidth-profile-parameters : The grouping describes Ethernet traffic parameters but does not indicate reference for them. Please add RFC6003 or
> MEF10.1 as reference
> 

Italo: I am not sure there is a generic definition of bandwidth profile. The YANG module references MEF 10.3, RFC 2697 and RFC 2698 which defines specific bandwidth profiles, but additional bandwidth profiles can be defined in other modules. Maybe we can add an "e.g., as defined in" MEF 10.3, RFC 2697 and RFC 2698.

> ### YANG
> 
> identity lsp-encoding-oduk: The document should be technology agnostic. Not sure this encoding should be here and not in L1-types for OTN specific.
> 

Italo: yes but this identity was defined in RFC8776 and removing it would be an NBC change.

> identity route-include-object: Maybe the reference to RFC3209 and RFC3473 is still valid since both the document allow “abstract nodes and resources to be explicitly included”
> 

Italo: Ok, is there a specific section to reference?

> case as-number {   -->  No description related to this “case” as-number
> statement
>            container as-number-hop
> 

Italo: There is no requirement to add a description statement for the case statements (see section 4.14 of draft-ietf-netmod-rfc8407bis). The description for the case statement would match the description of the associated container.

> ### Appendix B
> 
> te-gen-node-id : This data type is mentioned as “new” data type added to “ietf-te-types” but is present in the Appendix B but not in the YANG schema.
> 

Italo: Fixed when addressing the IETF LC Tsvart review

> ## Nits
> 
>  > Section 3.1.1.1: path-computation-error-no-dependent-server: 3.  match more  than one PCEP numbers --> Nits s/numbers/number 

Italo: Ok

> Section 3.1.2:
>  te-recovery-status:  s/statuses/status
> 

Italo: I think status is correct since the identity is called 'te-recovery-status' in YANG

> ---
> 


> > protocol-origin-type: I do not see any definition of protocol origin even in the RFCs referenced in section 3.1.1.2.
> 
> * [x]  Pavan: send a mail proposing definition/reference for protocol origin

Authors: There is no standard reference for defining the protocol origin. Text in section 3.1.1.2 has been updated to provide a definition.

> > > identity route-include-object: Maybe the reference to RFC3209 and RFC3473 is still valid since both the document allow “abstract nodes and resources to be explicitly included”
> > 
> > 
> > Italo: Ok, is there a specific section to reference?
> 
> * [x]  [@sergiobelotti](https://github.com/sergiobelotti) provide specific sections to reference

Sergio (offline): Added references to section 4.3.2 of RFC3209, section 7.12 of RFC5440 and RFC7896

Consolidated input for the 2025-12-19 TE Call

> Document: draft-ietf-teas-rfc8776-update
> Title: Common YANG Data Types for Traffic Engineering
> Reviewer: Sergio Belotti
> Review result: Ready
> 
> Hi,
> 
> I have been selected as the Operational Directorate (opsdir) reviewer for this Internet-Draft.
> 
> The Operational Directorate reviews all operational and management-related Internet-Drafts to ensure alignment with operational best practices and that adequate operational considerations are covered.
> 
> A complete set of _"Guidelines for Considering Operations and Management in IETF Specifications"_ can be found at https://datatracker.ietf.org/doc/draft-opsarea-rfc5706bis/.
> 
> While these comments are primarily for the Operations and Management Area Directors (Ops ADs), the authors should consider them alongside other feedback received.
> 
> - Document: [draft-ietf-teas-rfc8776-update-19]
> 
> - Reviewer: [Sergio Belotti]
> 
> - Review Date: [2025-12-09]
> 
> - Intended Status: [Proposed Standard]
> 
> ---
> 
> ## Summary
> 
> - This document is basically ready for publication but has nits that should be considered prior to publication. This document introduces a collection of common data types derived from the built-in YANG data types. The derived data types, identities, and groupings are mainly designed to be the common definitions applicable in Traffic Engineering (TE) model(s) defined outside of this document The document obsoletes [RFC8776] updating some of the existing data types, identities, and groupings and fixes few bugs in [RFC8776]. It provides a new revision of the YANG module contained in that RFC, and retains the data types previously defined, but also adds new type definitions to both the "ietf-te-types" and the "ietf-te-packet-types" YANG modules defined in this document. The document is clear and well-written. The motivation is described well. The document is almost ready for publication even if some minor comments it would be good to be fixed before publication.
> 
>  No major issues found.
> 
> ## Minor Issues
> 
> ### Section
> 
> #### Section 3.1.1
> 
> link-protection-type :I think for link-protection-type should be better to reference RFC3471 and leave the reference for RFC 4872 for lsp-protection-type
> 

Authors: Reference and description statements updated accordingly.

> switching-capabilities: It is stated "Additional technology-specific interface switching capabilities can be defined in other technology-specific models ."
> but in reality some additional technology-specific interface switching capabilities have been added in the te-types module. We should probably delete this sentence or delete the switching capabilities introduced in the modules.
> 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: Added some text to clarify that some technology-specific interface switching capabilities are defined in this document for backward compatibility with RFC 8776.

> protocol-origin-type: I do not see any definition of protocol origin even in the RFCs referenced in section 3.1.1.2.
> 

- [x] Pavan: send a mail proposing definition/reference for protocol origin

Pavan: There is no standard reference for defining the protocol origin. Text in section 3.1.1.2 has been updated to provide a definition.

> svec-metric-type: Maybe here there is a wrong copy&paste : I suppose it would be SVEC metric list
> 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: fixed as "SVEC metric types".

> #### Section 3.1.1.1
> 
> path-computation-error-no-dependent-server: It is stated "The dependent path computation server could be a Backward-
>   Recursive Path Computation (BRPC)  downstream PCE or a child PCE" --> I would
>   add the reference to RFC5441 where BRPC is defined
> 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: added a reference to RFC 5441 for BRPC and to RFC 8685 for child PCE.

> #### Section 3.1.2
> 
> admin-groups: I would suggest to put RFC reference close to the word classic or extended to make more clear the correct reference . That means:“ A union type for a TE link's classic or extended administrative groups as defined in [RFC3630], [RFC5305] for classic and [RFC7308] for extended.
> 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: Updated as proposed with few minor edits.

> #### Section 3.2.3
> 
> performance-metrics-attributes-packet : There are new data nodes in this grouping without any reference. E.G. “one-way-min-delay” defines a range but no reference to understand where/how this range is defined
> 

See #328 

> bandwidth-profile-parameters : The grouping describes Ethernet traffic parameters but does not indicate reference for them. Please add RFC6003 or
> MEF10.1 as reference
> 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: Rephrased to improve clarity.

> ### YANG
> 
> identity lsp-encoding-oduk: The document should be technology agnostic. Not sure this encoding should be here and not in L1-types for OTN specific.
> 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: As discussed above, removing it would be an NBC change with RFC8776 and the updated text clarifies this.

> identity route-include-object: Maybe the reference to RFC3209 and RFC3473 is still valid since both the document allow “abstract nodes and resources to be explicitly included”
> 

- [x] @italobusi @sergiobelotti Discuss offline

- [ ] @sergiobelotti provide specific sections to reference

> case as-number {   -->  No description related to this “case” as-number
> statement
>            container as-number-hop
> 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: Expanded the AS acronym in the container description.

> ### Appendix B
> 
> te-gen-node-id : This data type is mentioned as “new” data type added to “ietf-te-types” but is present in the Appendix B but not in the YANG schema.
> 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: Fixed when addressing the IETF LC Tsvart review.

> ## Nits
> 
>  > Section 3.1.1.1: path-computation-error-no-dependent-server: 3.  match more  than one PCEP numbers --> Nits s/numbers/number 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: Fixed.

> Section 3.1.2:
>  te-recovery-status:  s/statuses/status
> 

- [x] @italobusi @sergiobelotti Discuss offline

Italo/Sergio: Fixed.

> ---
> 
