IETF LC SecDir review of draft-ietf-teas-rfc8776-update-19

> Document: draft-ietf-teas-rfc8776-update
> Title: Common YANG Data Types for Traffic Engineering
> Reviewer: Tero Kivinen
> Review result: Has Nits
> 
> I have reviewed this document as part of the security directorate's ongoing effort to review all IETF documents being processed by the IESG.  These comments were written primarily for the benefit of the security area directors.  Document editors and WG chairs should treat these comments just like any other last call comments.
> 
> This document provides common yang data types for other modules to use.
> It does not define a model itself so it does not as such has any direct security considerations.
> 
> Security Considerations section follows the YANG model template, and seems to be ok.
> 
> This document uses HUGE number of RFCs only referenced by the RFC number which makes it really hard to follow when you have text saying  
> 
>       A base YANG identity for supported LSP path
>       flags as defined in [RFC3209], [RFC4090], [RFC4736], [RFC5712],
>       [RFC4920], [RFC5420], [RFC7570], [RFC4875], [RFC5151], [RFC5150],
>       [RFC6001], [RFC6790], [RFC7260], [RFC8001], [RFC8149], and
>       [RFC8169].
> 
> This makes it difficult for someone who does not have full RFC number to title mapping in their head to read the document. It would be better to provide the RFC title in the text and just use RFC number as a reference.
> 
> For example:
> 
> In section 1 change:
> 
> 	Section 4.12 of [I-D.ietf-netmod-rfc8407bis] and Section 4.13 of
>    [I-D.ietf-netmod-rfc8407bis].
> 
> to
> 
> 	Section 4.12 and Section 4.13 of YANG Data Models guidelines
>    document [I-D.ietf-netmod-rfc8407bis].
> 
> and for example in section 1.1 change: 
> 
>    The terminology for describing YANG data models is found in
>    [RFC7950].
> 
> to
> 
>    The terminology for describing YANG data models is found in YANG
>    Data Modeling Language [RFC7950].
> 
> Other places where just plain RFC number is used:
> 
>   - Section 1.2, RFC6991
>   - Section 1.3, RFC8340
>   - Section 3.1.1, I-D.ietf-pce-sid-algo-14, RFC2702, RFC3209, RFC3209,
>     RFC3209, RFC3471, RFC3471, RFC3630, RFC3785, RFC4090, RFC4328,
>     RFC4736, RFC4872, RFC4872, RFC4872, RFC4872, RFC4872, RFC4873,
>     RFC4873, RFC4875, RFC4875, RFC4920, RFC5150, RFC5151, RFC5420,
>     RFC5440, RFC5541, RFC5541, RFC5712, RFC6001, RFC6002, RFC6004,
>     RFC6004, RFC6368, RFC6780, RFC6790, RFC7074, RFC7138, RFC7260,
>     RFC7271, RFC7471, RFC7471, RFC7570, RFC8001, RFC8149, RFC8169,
>     RFC8233, RFC8570, RFC8570, RFC8685, and RFC8800.
>   - Section 3.1.1.1, FC5440, RFC5441, RFC5520, RFC5557, RFC8306, and
>     RFC8685.
>   - Section 3.1.1.2, RFC5440 and RFC9012
>   - Section 3.1.2, RFC4124, RFC6370, RFC5003, RFC3630, RFC6827, RFC5305,
>     RFC6119, RFC6827, RFC8345, RFC3630, RFC5305, RFC4872, RFC3630,
>     RFC5305, RFC7308, RFC4203, RFC5307, RFC3785, RFC6378, RFC4427,
>     and RFC3630.
>   - Section 3.1.3, RFC7471, RFC8570, RFC7823, RFC3209, and RFC3477.
>   - Section 3.2.1, RFC4090, RFC4125, RFC4126, RFC4127, MEF_10.3,
>     RFC2697 and RFC2698.
>   - Section 4, RFC6991, RFC8294, RFC6991, RFC8294, RFC9522, RFC4090,
>     RFC4202, RFC4328, RFC4561, RFC4657, RFC4736, RFC6004, RFC6378,
>     RFC6511, RFC7139, RFC7271, RFC7308, RFC7551, RFC7571, RFC7579,
>     and ITU-T_G.709.
>   - Appendix A, RFC8340
> 

See: https://mailarchive.ietf.org/arch/msg/teas/8lDfVku2QrOqtCQqIO9PwxxsObk/

See: https://mailarchive.ietf.org/arch/msg/teas/9ua4nEdmbcBgU2WchfmENanIxus/

See below an initial attempt to map an RFC number with a short string

Some concerns:
1. I need help for some RFCs
2. we are introducing new acronyms which would not be easy to understand by non-subject experts

-  [ ] @all: what do you think?

---

```
   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119,
              DOI 10.17487/RFC2119, March 1997,
              <https://www.rfc-editor.org/rfc/rfc2119>.
```

Keep it as RFC (well-known)

```
   [RFC3209]  Awduche, D., Berger, L., Gan, D., Li, T., Srinivasan, V.,
              and G. Swallow, "RSVP-TE: Extensions to RSVP for LSP
              Tunnels", RFC 3209, DOI 10.17487/RFC3209, December 2001,
              <https://www.rfc-editor.org/rfc/rfc3209>.
```

RSVP-TE

```
   [RFC3471]  Berger, L., Ed., "Generalized Multi-Protocol Label
              Switching (GMPLS) Signaling Functional Description",
              RFC 3471, DOI 10.17487/RFC3471, January 2003,
              <https://www.rfc-editor.org/rfc/rfc3471>.
```

GMPLS-SIG

```
   [RFC3477]  Kompella, K. and Y. Rekhter, "Signalling Unnumbered Links
              in Resource ReSerVation Protocol - Traffic Engineering
              (RSVP-TE)", RFC 3477, DOI 10.17487/RFC3477, January 2003,
              <https://www.rfc-editor.org/rfc/rfc3477>.
```

UNNUM-LINK

```
   [RFC3630]  Katz, D., Kompella, K., and D. Yeung, "Traffic Engineering
              (TE) Extensions to OSPF Version 2", RFC 3630,
              DOI 10.17487/RFC3630, September 2003,
              <https://www.rfc-editor.org/rfc/rfc3630>.
```

OSPF-TE

```
   [RFC3785]  Le Faucheur, F., Uppili, R., Vedrenne, A., Merckx, P., and
              T. Telkamp, "Use of Interior Gateway Protocol (IGP) Metric
              as a second MPLS Traffic Engineering (TE) Metric", BCP 87,
              RFC 3785, DOI 10.17487/RFC3785, May 2004,
              <https://www.rfc-editor.org/rfc/rfc3785>.
```

IGP-METRIC

```
   [RFC4090]  Pan, P., Ed., Swallow, G., Ed., and A. Atlas, Ed., "Fast
              Reroute Extensions to RSVP-TE for LSP Tunnels", RFC 4090,
              DOI 10.17487/RFC4090, May 2005,
              <https://www.rfc-editor.org/rfc/rfc4090>.
```

FRR

```
   [RFC4124]  Le Faucheur, F., Ed., "Protocol Extensions for Support of
              Diffserv-aware MPLS Traffic Engineering", RFC 4124,
              DOI 10.17487/RFC4124, June 2005,
              <https://www.rfc-editor.org/rfc/rfc4124>.
```

DS-TE

```
   [RFC4202]  Kompella, K., Ed. and Y. Rekhter, Ed., "Routing Extensions
              in Support of Generalized Multi-Protocol Label Switching
              (GMPLS)", RFC 4202, DOI 10.17487/RFC4202, October 2005,
              <https://www.rfc-editor.org/rfc/rfc4202>.
```

GMPLS-ROUTING

```
   [RFC4203]  Kompella, K., Ed. and Y. Rekhter, Ed., "OSPF Extensions in
              Support of Generalized Multi-Protocol Label Switching
              (GMPLS)", RFC 4203, DOI 10.17487/RFC4203, October 2005,
              <https://www.rfc-editor.org/rfc/rfc4203>.
```

OSPF-GMPLS

```
   [RFC4328]  Papadimitriou, D., Ed., "Generalized Multi-Protocol Label
              Switching (GMPLS) Signaling Extensions for G.709 Optical
              Transport Networks Control", RFC 4328,
              DOI 10.17487/RFC4328, January 2006,
              <https://www.rfc-editor.org/rfc/rfc4328>.
```

GMPLS-OTN

```
   [RFC4561]  Vasseur, J.-P., Ed., Ali, Z., and S. Sivabalan,
              "Definition of a Record Route Object (RRO) Node-Id Sub-
              Object", RFC 4561, DOI 10.17487/RFC4561, June 2006,
              <https://www.rfc-editor.org/rfc/rfc4561>.
```

RRO

```
   [RFC4872]  Lang, J.P., Ed., Rekhter, Y., Ed., and D. Papadimitriou,
              Ed., "RSVP-TE Extensions in Support of End-to-End
              Generalized Multi-Protocol Label Switching (GMPLS)
              Recovery", RFC 4872, DOI 10.17487/RFC4872, May 2007,
              <https://www.rfc-editor.org/rfc/rfc4872>.
```

E2E-RECOVERY

```
   [RFC4873]  Berger, L., Bryskin, I., Papadimitriou, D., and A. Farrel,
              "GMPLS Segment Recovery", RFC 4873, DOI 10.17487/RFC4873,
              May 2007, <https://www.rfc-editor.org/rfc/rfc4873>.
```

SEG-RECOVERY

```
   [RFC4875]  Aggarwal, R., Ed., Papadimitriou, D., Ed., and S.
              Yasukawa, Ed., "Extensions to Resource Reservation
              Protocol - Traffic Engineering (RSVP-TE) for Point-to-
              Multipoint TE Label Switched Paths (LSPs)", RFC 4875,
              DOI 10.17487/RFC4875, May 2007,
              <https://www.rfc-editor.org/rfc/rfc4875>.
```

GMPLS-P2MP

```
   [RFC4920]  Farrel, A., Ed., Satyanarayana, A., Iwata, A., Fujita, N.,
              and G. Ash, "Crankback Signaling Extensions for MPLS and
              GMPLS RSVP-TE", RFC 4920, DOI 10.17487/RFC4920, July 2007,
              <https://www.rfc-editor.org/rfc/rfc4920>.
```

CRANKBACK

```
   [RFC5003]  Metz, C., Martini, L., Balus, F., and J. Sugimoto,
              "Attachment Individual Identifier (AII) Types for
              Aggregation", RFC 5003, DOI 10.17487/RFC5003, September
              2007, <https://www.rfc-editor.org/rfc/rfc5003>.
```


AII-AGGR

```
   [RFC5150]  Ayyangar, A., Kompella, K., Vasseur, JP., and A. Farrel,
              "Label Switched Path Stitching with Generalized
              Multiprotocol Label Switching Traffic Engineering (GMPLS
              TE)", RFC 5150, DOI 10.17487/RFC5150, February 2008,
              <https://www.rfc-editor.org/rfc/rfc5150>.
```

GMPLS-STICH

```
   [RFC5151]  Farrel, A., Ed., Ayyangar, A., and JP. Vasseur, "Inter-
              Domain MPLS and GMPLS Traffic Engineering -- Resource
              Reservation Protocol-Traffic Engineering (RSVP-TE)
              Extensions", RFC 5151, DOI 10.17487/RFC5151, February
              2008, <https://www.rfc-editor.org/rfc/rfc5151>.
```

GMPLS-INTER-DOMAIN

```
   [RFC5305]  Li, T. and H. Smit, "IS-IS Extensions for Traffic
              Engineering", RFC 5305, DOI 10.17487/RFC5305, October
              2008, <https://www.rfc-editor.org/rfc/rfc5305>.
```

IS-IS-TE

```
   [RFC5307]  Kompella, K., Ed. and Y. Rekhter, Ed., "IS-IS Extensions
              in Support of Generalized Multi-Protocol Label Switching
              (GMPLS)", RFC 5307, DOI 10.17487/RFC5307, October 2008,
              <https://www.rfc-editor.org/rfc/rfc5307>.
```

IS-IS-GMPLS

```
   [RFC5420]  Farrel, A., Ed., Papadimitriou, D., Vasseur, JP., and A.
              Ayyangar, "Encoding of Attributes for MPLS LSP
              Establishment Using Resource Reservation Protocol Traffic
              Engineering (RSVP-TE)", RFC 5420, DOI 10.17487/RFC5420,
              February 2009, <https://www.rfc-editor.org/rfc/rfc5420>.
```

RSVP-TE-ATTR

```
   [RFC5440]  Vasseur, JP., Ed. and JL. Le Roux, Ed., "Path Computation
              Element (PCE) Communication Protocol (PCEP)", RFC 5440,
              DOI 10.17487/RFC5440, March 2009,
              <https://www.rfc-editor.org/rfc/rfc5440>.
```

PCEP

```
   [RFC5441]  Vasseur, JP., Ed., Zhang, R., Bitar, N., and JL. Le Roux,
              "A Backward-Recursive PCE-Based Computation (BRPC)
              Procedure to Compute Shortest Constrained Inter-Domain
              Traffic Engineering Label Switched Paths", RFC 5441,
              DOI 10.17487/RFC5441, April 2009,
              <https://www.rfc-editor.org/rfc/rfc5441>.
```

BRPC

```
   [RFC5520]  Bradford, R., Ed., Vasseur, JP., and A. Farrel,
              "Preserving Topology Confidentiality in Inter-Domain Path
              Computation Using a Path-Key-Based Mechanism", RFC 5520,
              DOI 10.17487/RFC5520, April 2009,
              <https://www.rfc-editor.org/rfc/rfc5520>.
```

PCEP-CONFIDENTIALITY

```
   [RFC5541]  Le Roux, JL., Vasseur, JP., and Y. Lee, "Encoding of
              Objective Functions in the Path Computation Element
              Communication Protocol (PCEP)", RFC 5541,
              DOI 10.17487/RFC5541, June 2009,
              <https://www.rfc-editor.org/rfc/rfc5541>.
```

PCEP-OF

```
   [RFC5557]  Lee, Y., Le Roux, JL., King, D., and E. Oki, "Path
              Computation Element Communication Protocol (PCEP)
              Requirements and Protocol Extensions in Support of Global
              Concurrent Optimization", RFC 5557, DOI 10.17487/RFC5557,
              July 2009, <https://www.rfc-editor.org/rfc/rfc5557>.
```

PCEP-GCO

```
   [RFC5712]  Meyer, M., Ed. and JP. Vasseur, Ed., "MPLS Traffic
              Engineering Soft Preemption", RFC 5712,
              DOI 10.17487/RFC5712, January 2010,
              <https://www.rfc-editor.org/rfc/rfc5712>.
```

SOFT-PREEMPTION

```
   [RFC6001]  Papadimitriou, D., Vigoureux, M., Shiomoto, K., Brungard,
              D., and JL. Le Roux, "Generalized MPLS (GMPLS) Protocol
              Extensions for Multi-Layer and Multi-Region Networks (MLN/
              MRN)", RFC 6001, DOI 10.17487/RFC6001, October 2010,
              <https://www.rfc-editor.org/rfc/rfc6001>.
```

MLN-MRN

```
   [RFC6002]  Berger, L. and D. Fedyk, "Generalized MPLS (GMPLS) Data
              Channel Switching Capable (DCSC) and Channel Set Label
              Extensions", RFC 6002, DOI 10.17487/RFC6002, October 2010,
              <https://www.rfc-editor.org/rfc/rfc6002>.
```

GMPLS-DCSC

```
   [RFC6004]  Berger, L. and D. Fedyk, "Generalized MPLS (GMPLS) Support
              for Metro Ethernet Forum and G.8011 Ethernet Service
              Switching", RFC 6004, DOI 10.17487/RFC6004, October 2010,
              <https://www.rfc-editor.org/rfc/rfc6004>.
```

GMPLS-MEF

```
   [RFC6020]  Bjorklund, M., Ed., "YANG - A Data Modeling Language for
              the Network Configuration Protocol (NETCONF)", RFC 6020,
              DOI 10.17487/RFC6020, October 2010,
              <https://www.rfc-editor.org/rfc/rfc6020>.
```

YANG_1.0

```
   [RFC6119]  Harrison, J., Berger, J., and M. Bartlett, "IPv6 Traffic
              Engineering in IS-IS", RFC 6119, DOI 10.17487/RFC6119,
              February 2011, <https://www.rfc-editor.org/rfc/rfc6119>.
```

IPv6-TE

```
   [RFC6368]  Marques, P., Raszuk, R., Patel, K., Kumaki, K., and T.
              Yamagata, "Internal BGP as the Provider/Customer Edge
              Protocol for BGP/MPLS IP Virtual Private Networks (VPNs)",
              RFC 6368, DOI 10.17487/RFC6368, September 2011,
              <https://www.rfc-editor.org/rfc/rfc6368>.
```


L3VPN

```
   [RFC6370]  Bocci, M., Swallow, G., and E. Gray, "MPLS Transport
              Profile (MPLS-TP) Identifiers", RFC 6370,
              DOI 10.17487/RFC6370, September 2011,
              <https://www.rfc-editor.org/rfc/rfc6370>.
```

MPLS-TP-ID

```
   [RFC6378]  Weingarten, Y., Ed., Bryant, S., Osborne, E., Sprecher,
              N., and A. Fulignoli, Ed., "MPLS Transport Profile (MPLS-
              TP) Linear Protection", RFC 6378, DOI 10.17487/RFC6378,
              October 2011, <https://www.rfc-editor.org/rfc/rfc6378>.
```

MPLS-TP-PROTECTION

```
   [RFC6511]  Ali, Z., Swallow, G., and R. Aggarwal, "Non-Penultimate
              Hop Popping Behavior and Out-of-Band Mapping for RSVP-TE
              Label Switched Paths", RFC 6511, DOI 10.17487/RFC6511,
              February 2012, <https://www.rfc-editor.org/rfc/rfc6511>.
```

NON-PHB

```
   [RFC6780]  Berger, L., Le Faucheur, F., and A. Narayanan, "RSVP
              ASSOCIATION Object Extensions", RFC 6780,
              DOI 10.17487/RFC6780, October 2012,
              <https://www.rfc-editor.org/rfc/rfc6780>.
```

RSVP-ASSOCIATION

```
   [RFC6790]  Kompella, K., Drake, J., Amante, S., Henderickx, W., and
              L. Yong, "The Use of Entropy Labels in MPLS Forwarding",
              RFC 6790, DOI 10.17487/RFC6790, November 2012,
              <https://www.rfc-editor.org/rfc/rfc6790>.
```

ENTROPY-LABEL

```
   [RFC6827]  Malis, A., Ed., Lindem, A., Ed., and D. Papadimitriou,
              Ed., "Automatically Switched Optical Network (ASON)
              Routing for OSPFv2 Protocols", RFC 6827,
              DOI 10.17487/RFC6827, January 2013,
              <https://www.rfc-editor.org/rfc/rfc6827>.

OSPF-ASON

   [RFC6991]  Schoenwaelder, J., Ed., "Common YANG Data Types",
              RFC 6991, DOI 10.17487/RFC6991, July 2013,
              <https://www.rfc-editor.org/rfc/rfc6991>.
```

YANG-TYPES

```
   [RFC7074]  Berger, L. and J. Meuric, "Revised Definition of the GMPLS
              Switching Capability and Type Fields", RFC 7074,
              DOI 10.17487/RFC7074, November 2013,
              <https://www.rfc-editor.org/rfc/rfc7074>.
```

PSC-REVISION

```
   [RFC7138]  Ceccarelli, D., Ed., Zhang, F., Belotti, S., Rao, R., and
              J. Drake, "Traffic Engineering Extensions to OSPF for
              GMPLS Control of Evolving G.709 Optical Transport
              Networks", RFC 7138, DOI 10.17487/RFC7138, March 2014,
              <https://www.rfc-editor.org/rfc/rfc7138>.
```

OSPF-OTN-EVOL

```
   [RFC7139]  Zhang, F., Ed., Zhang, G., Belotti, S., Ceccarelli, D.,
              and K. Pithewan, "GMPLS Signaling Extensions for Control
              of Evolving G.709 Optical Transport Networks", RFC 7139,
              DOI 10.17487/RFC7139, March 2014,
              <https://www.rfc-editor.org/rfc/rfc7139>.
```

GMPLS-OTN-EVOL

```
   [RFC7260]  Takacs, A., Fedyk, D., and J. He, "GMPLS RSVP-TE
              Extensions for Operations, Administration, and Maintenance
              (OAM) Configuration", RFC 7260, DOI 10.17487/RFC7260, June
              2014, <https://www.rfc-editor.org/rfc/rfc7260>.
```

OAM-CONFIG

```
   [RFC7271]  Ryoo, J., Ed., Gray, E., Ed., van Helvoort, H.,
              D'Alessandro, A., Cheung, T., and E. Osborne, "MPLS
              Transport Profile (MPLS-TP) Linear Protection to Match the
              Operational Expectations of Synchronous Digital Hierarchy,
              Optical Transport Network, and Ethernet Transport Network
              Operators", RFC 7271, DOI 10.17487/RFC7271, June 2014,
              <https://www.rfc-editor.org/rfc/rfc7271>.
```

MPLS-TP-APS

```
   [RFC7308]  Osborne, E., "Extended Administrative Groups in MPLS
              Traffic Engineering (MPLS-TE)", RFC 7308,
              DOI 10.17487/RFC7308, July 2014,
              <https://www.rfc-editor.org/rfc/rfc7308>.
```

EXT-ADMIN-GROUP

```
   [RFC7471]  Giacalone, S., Ward, D., Drake, J., Atlas, A., and S.
              Previdi, "OSPF Traffic Engineering (TE) Metric
              Extensions", RFC 7471, DOI 10.17487/RFC7471, March 2015,
              <https://www.rfc-editor.org/rfc/rfc7471>.
```

OSPF-METRIC-EXTENSION

```
   [RFC7551]  Zhang, F., Ed., Jing, R., and R. Gandhi, Ed., "RSVP-TE
              Extensions for Associated Bidirectional Label Switched
              Paths (LSPs)", RFC 7551, DOI 10.17487/RFC7551, May 2015,
              <https://www.rfc-editor.org/rfc/rfc7551>.
```

ASSOCIATED-BIRID

```
   [RFC7570]  Margaria, C., Ed., Martinelli, G., Balls, S., and B.
              Wright, "Label Switched Path (LSP) Attribute in the
              Explicit Route Object (ERO)", RFC 7570,
              DOI 10.17487/RFC7570, July 2015,
              <https://www.rfc-editor.org/rfc/rfc7570>.
```

LSP-ERO-ATTRIBUTE

```
   [RFC7571]  Dong, J., Chen, M., Li, Z., and D. Ceccarelli, "GMPLS
              RSVP-TE Extensions for Lock Instruct and Loopback",
              RFC 7571, DOI 10.17487/RFC7571, July 2015,
              <https://www.rfc-editor.org/rfc/rfc7571>.
```

GMPLS-LOCK-LOOPBACK

```
   [RFC7579]  Bernstein, G., Ed., Lee, Y., Ed., Li, D., Imajuku, W., and
              J. Han, "General Network Element Constraint Encoding for
              GMPLS-Controlled Networks", RFC 7579,
              DOI 10.17487/RFC7579, June 2015,
              <https://www.rfc-editor.org/rfc/rfc7579>.
```

GMPLS-CONSTRAINT

```
   [RFC7950]  Bjorklund, M., Ed., "The YANG 1.1 Data Modeling Language",
              RFC 7950, DOI 10.17487/RFC7950, August 2016,
              <https://www.rfc-editor.org/rfc/rfc7950>.
```

YANG_1.1

```
   [RFC8001]  Zhang, F., Ed., Gonzalez de Dios, O., Ed., Margaria, C.,
              Hartley, M., and Z. Ali, "RSVP-TE Extensions for
              Collecting Shared Risk Link Group (SRLG) Information",
              RFC 8001, DOI 10.17487/RFC8001, January 2017,
              <https://www.rfc-editor.org/rfc/rfc8001>.
```

SRLG

```
   [RFC8149]  Saad, T., Ed., Gandhi, R., Ed., Ali, Z., Venator, R., and
              Y. Kamite, "RSVP Extensions for Reoptimization of Loosely
              Routed Point-to-Multipoint Traffic Engineering Label
              Switched Paths (LSPs)", RFC 8149, DOI 10.17487/RFC8149,
              April 2017, <https://www.rfc-editor.org/rfc/rfc8149>.
```

REOPT-P2MP-LSPS

```
   [RFC8169]  Mirsky, G., Ruffini, S., Gray, E., Drake, J., Bryant, S.,
              and A. Vainshtein, "Residence Time Measurement in MPLS
              Networks", RFC 8169, DOI 10.17487/RFC8169, May 2017,
              <https://www.rfc-editor.org/rfc/rfc8169>.
```

RESIDENCE-TIME

```
   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC
              2119 Key Words", BCP 14, RFC 8174, DOI 10.17487/RFC8174,
              May 2017, <https://www.rfc-editor.org/rfc/rfc8174>.
```

Keep it as RFC (well-known)

```
   [RFC8233]  Dhody, D., Wu, Q., Manral, V., Ali, Z., and K. Kumaki,
              "Extensions to the Path Computation Element Communication
              Protocol (PCEP) to Compute Service-Aware Label Switched
              Paths (LSPs)", RFC 8233, DOI 10.17487/RFC8233, September
              2017, <https://www.rfc-editor.org/rfc/rfc8233>.
```

SERVICE-AWARE-LSP

```
   [RFC8294]  Liu, X., Qu, Y., Lindem, A., Hopps, C., and L. Berger,
              "Common YANG Data Types for the Routing Area", RFC 8294,
              DOI 10.17487/RFC8294, December 2017,
              <https://www.rfc-editor.org/rfc/rfc8294>.
```

RTG-TYPES

```
   [RFC8306]  Zhao, Q., Dhody, D., Ed., Palleti, R., and D. King,
              "Extensions to the Path Computation Element Communication
              Protocol (PCEP) for Point-to-Multipoint Traffic
              Engineering Label Switched Paths", RFC 8306,
              DOI 10.17487/RFC8306, November 2017,
              <https://www.rfc-editor.org/rfc/rfc8306>.
```

PCEP-P2MP

```
   [RFC8341]  Bierman, A. and M. Bjorklund, "Network Configuration
              Access Control Model", STD 91, RFC 8341,
              DOI 10.17487/RFC8341, March 2018,
              <https://www.rfc-editor.org/rfc/rfc8341>.
```

NACM

```
   [RFC8345]  Clemm, A., Medved, J., Varga, R., Bahadur, N.,
              Ananthakrishnan, H., and X. Liu, "A YANG Data Model for
              Network Topologies", RFC 8345, DOI 10.17487/RFC8345, March
              2018, <https://www.rfc-editor.org/rfc/rfc8345>.
```

YANG-TOPO

```
   [RFC8570]  Ginsberg, L., Ed., Previdi, S., Ed., Giacalone, S., Ward,
              D., Drake, J., and Q. Wu, "IS-IS Traffic Engineering (TE)
              Metric Extensions", RFC 8570, DOI 10.17487/RFC8570, March
              2019, <https://www.rfc-editor.org/rfc/rfc8570>.
```

IS-IS-METRIC-EXTENSION

```
   [RFC8685]  Zhang, F., Zhao, Q., Gonzalez de Dios, O., Casellas, R.,
              and D. King, "Path Computation Element Communication
              Protocol (PCEP) Extensions for the Hierarchical Path
              Computation Element (H-PCE) Architecture", RFC 8685,
              DOI 10.17487/RFC8685, December 2019,
              <https://www.rfc-editor.org/rfc/rfc8685>.
```

H-PCE

```
   [RFC8776]  Saad, T., Gandhi, R., Liu, X., Beeram, V., and I. Bryskin,
              "Common YANG Data Types for Traffic Engineering",
              RFC 8776, DOI 10.17487/RFC8776, June 2020,
              <https://www.rfc-editor.org/rfc/rfc8776>.
```

Keep it as RFC (well-known in the context of RFC8776-bis)

```
   [RFC8800]  Litkowski, S., Sivabalan, S., Barth, C., and M. Negi,
              "Path Computation Element Communication Protocol (PCEP)
              Extension for Label Switched Path (LSP) Diversity
              Constraint Signaling", RFC 8800, DOI 10.17487/RFC8800,
              July 2020, <https://www.rfc-editor.org/rfc/rfc8800>.
```

LSP-DIVERSITY

```
   [RFC9012]  Patel, K., Van de Velde, G., Sangli, S., and J. Scudder,
              "The BGP Tunnel Encapsulation Attribute", RFC 9012,
              DOI 10.17487/RFC9012, April 2021,
              <https://www.rfc-editor.org/rfc/rfc9012>.
```

BGP-TUNNEL-ENCAPS

```
   [RFC9890]  Bierman, A., Boucadair, M., Ed., and Q. Wu, "An Update to
              YANG Module Names Registration", RFC 9890,
              DOI 10.17487/RFC9890, October 2025,
              <https://www.rfc-editor.org/rfc/rfc9890>.
```

Keep it as RFC (well-known)

8.2.  Informative References

```
   [I-D.ietf-netmod-rfc8407bis]
              Bierman, A., Boucadair, M., and Q. Wu, "Guidelines for
              Authors and Reviewers of Documents Containing YANG Data
              Models", Work in Progress, Internet-Draft, draft-ietf-
              netmod-rfc8407bis-28, 5 June 2025,
              <https://datatracker.ietf.org/doc/html/draft-ietf-netmod-
              rfc8407bis-28>.
```

YANG-GUIDELINES

```
   [I-D.ietf-pce-sid-algo]
              Sidor, S., Rose, Z., Peng, S., Peng, S., and A. Stone,
              "Carrying SR-Algorithm in Path Computation Element
              Communication Protocol (PCEP)", Work in Progress,
              Internet-Draft, draft-ietf-pce-sid-algo-29, 15 October
              2025, <https://datatracker.ietf.org/doc/html/draft-ietf-
              pce-sid-algo-29>.
```

[PCE-SID]

```
   [MEF_10.3] MEF, "Ethernet Services Attributes Phase 3", MEF 10.3 ,
              October 2013,
              <https://www.mef.net/Assets/Technical_Specifications/PDF/
              MEF_10.pdf>.
```

Keep as it is (well known)

```
   [RFC2475]  Blake, S., Black, D., Carlson, M., Davies, E., Wang, Z.,
              and W. Weiss, "An Architecture for Differentiated
              Services", RFC 2475, DOI 10.17487/RFC2475, December 1998,
              <https://www.rfc-editor.org/rfc/rfc2475>.
```

DS-ARCH

```
   [RFC2697]  Heinanen, J. and R. Guerin, "A Single Rate Three Color
              Marker", RFC 2697, DOI 10.17487/RFC2697, September 1999,
              <https://www.rfc-editor.org/rfc/rfc2697>.
```

SRTC-MARK

```
   [RFC2698]  Heinanen, J. and R. Guerin, "A Two Rate Three Color
              Marker", RFC 2698, DOI 10.17487/RFC2698, September 1999,
              <https://www.rfc-editor.org/rfc/rfc2698>.
```

TRTC-MARK

```
   [RFC2702]  Awduche, D., Malcolm, J., Agogbua, J., O'Dell, M., and J.
              McManus, "Requirements for Traffic Engineering Over MPLS",
              RFC 2702, DOI 10.17487/RFC2702, September 1999,
              <https://www.rfc-editor.org/rfc/rfc2702>.
```

MPLS-TE-REQ

```
   [RFC3688]  Mealling, M., "The IETF XML Registry", BCP 81, RFC 3688,
              DOI 10.17487/RFC3688, January 2004,
              <https://www.rfc-editor.org/rfc/rfc3688>.
```

IETF-XML

```
   [RFC4125]  Le Faucheur, F. and W. Lai, "Maximum Allocation Bandwidth
              Constraints Model for Diffserv-aware MPLS Traffic
              Engineering", RFC 4125, DOI 10.17487/RFC4125, June 2005,
              <https://www.rfc-editor.org/rfc/rfc4125>.
```

???

```
   [RFC4126]  Ash, J., "Max Allocation with Reservation Bandwidth
              Constraints Model for Diffserv-aware MPLS Traffic
              Engineering & Performance Comparisons", RFC 4126,
              DOI 10.17487/RFC4126, June 2005,
              <https://www.rfc-editor.org/rfc/rfc4126>.
```

???

```
   [RFC4127]  Le Faucheur, F., Ed., "Russian Dolls Bandwidth Constraints
              Model for Diffserv-aware MPLS Traffic Engineering",
              RFC 4127, DOI 10.17487/RFC4127, June 2005,
              <https://www.rfc-editor.org/rfc/rfc4127>.
```

DS-RUSSIAN-DOLLS

```
   [RFC4252]  Ylonen, T. and C. Lonvick, Ed., "The Secure Shell (SSH)
              Authentication Protocol", RFC 4252, DOI 10.17487/RFC4252,
              January 2006, <https://www.rfc-editor.org/rfc/rfc4252>.
```

Keep it as RFC (well-known and in line with RFC8407-bis template)

```
   [RFC4427]  Mannie, E., Ed. and D. Papadimitriou, Ed., "Recovery
              (Protection and Restoration) Terminology for Generalized
              Multi-Protocol Label Switching (GMPLS)", RFC 4427,
              DOI 10.17487/RFC4427, March 2006,
              <https://www.rfc-editor.org/rfc/rfc4427>.
```

RECOVERY-TERM

```
   [RFC4657]  Ash, J., Ed. and J.L. Le Roux, Ed., "Path Computation
              Element (PCE) Communication Protocol Generic
              Requirements", RFC 4657, DOI 10.17487/RFC4657, September
              2006, <https://www.rfc-editor.org/rfc/rfc4657>.
```

PCEP-REQ

```
   [RFC4736]  Vasseur, JP., Ed., Ikejiri, Y., and R. Zhang,
              "Reoptimization of Multiprotocol Label Switching (MPLS)
              Traffic Engineering (TE) Loosely Routed Label Switched
              Path (LSP)", RFC 4736, DOI 10.17487/RFC4736, November
              2006, <https://www.rfc-editor.org/rfc/rfc4736>.
```

REOPT-LSP

```
   [RFC6241]  Enns, R., Ed., Bjorklund, M., Ed., Schoenwaelder, J., Ed.,
              and A. Bierman, Ed., "Network Configuration Protocol
              (NETCONF)", RFC 6241, DOI 10.17487/RFC6241, June 2011,
              <https://www.rfc-editor.org/rfc/rfc6241>.
```

NETCONF

```
   [RFC7823]  Atlas, A., Drake, J., Giacalone, S., and S. Previdi,
              "Performance-Based Path Selection for Explicitly Routed
              Label Switched Paths (LSPs) Using TE Metric Extensions",
              RFC 7823, DOI 10.17487/RFC7823, May 2016,
              <https://www.rfc-editor.org/rfc/rfc7823>.
```

???

```
   [RFC8040]  Bierman, A., Bjorklund, M., and K. Watsen, "RESTCONF
              Protocol", RFC 8040, DOI 10.17487/RFC8040, January 2017,
              <https://www.rfc-editor.org/rfc/rfc8040>.
```

RESTCONF

```
   [RFC8340]  Bjorklund, M. and L. Berger, Ed., "YANG Tree Diagrams",
              BCP 215, RFC 8340, DOI 10.17487/RFC8340, March 2018,
              <https://www.rfc-editor.org/rfc/rfc8340>.
```

Keep it as RFC (well-known)

```
   [RFC8446]  Rescorla, E., "The Transport Layer Security (TLS) Protocol
              Version 1.3", RFC 8446, DOI 10.17487/RFC8446, August 2018,
              <https://www.rfc-editor.org/rfc/rfc8446>.
```

Keep it as RFC (well-known and in line with RFC8407-bis template)

```
   [RFC9000]  Iyengar, J., Ed. and M. Thomson, Ed., "QUIC: A UDP-Based
              Multiplexed and Secure Transport", RFC 9000,
              DOI 10.17487/RFC9000, May 2021,
              <https://www.rfc-editor.org/rfc/rfc9000>.
```

Keep it as RFC (well-known and in line with RFC8407-bis template)

```
   [RFC9522]  Farrel, A., Ed., "Overview and Principles of Internet
              Traffic Engineering", RFC 9522, DOI 10.17487/RFC9522,
              January 2024, <https://www.rfc-editor.org/rfc/rfc9522>.
```

TE-OVERVIEW
